/**
* $fonts
**/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/**
* $reset
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
* $body
**/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none; }

body {
  margin: auto;
  font-size: 100%;
  color: #132F2F;
  font-family: 'Montserrat';
  background: #EAF3F3; }

figcaption {
  padding: 15px 0;
  font-weight: normal; }

/**
* $banner
**/
.banner {
  padding: 30px 0 25px;
  width: 100%;
  min-width: 100%;
  min-height: 80px;
  text-align: center;
  background: #132F2F; }
  .banner span {
    font-weight: bold;
    display: block;
    color: #E1F1F1; }
    .banner span a {
      font-weight: normal;
      text-decoration: underline;
      color: inherit; }

/**
* $hero
**/
.hero {
  position: relative;
  width: 100%;
  height: 720px;
  background: url("/edtech-hamburg/assets/bg-hero.png");
  background-size: cover;
  text-align: center; }
  .hero.hero-meetup {
    position: relative;
    width: 100%;
    height: 720px;
    background: url("/edtech-hamburg/assets/bg-hero_meetup-2.png");
    background-size: cover;
    text-align: center; }
  .hero.rpdub {
    background: url("/edtech-hamburg/assets/bg-hero_rp-dub-2.png");
    position: relative;
    width: 100%;
    height: 720px;
    background-size: cover;
    text-align: center; }
  .hero.reftech {
    background: url("/edtech-hamburg/assets/bg-hero_reftech.png");
    position: relative;
    width: 100%;
    height: 720px;
    background-size: cover;
    text-align: center; }
  .hero.hero_mini {
    height: 90px; }

.logo {
  display: inline-block;
  float: left;
  margin: 24px 0 0 30px; }

.logo a {
  text-decoration: none; }

.logo img {
  opacity: .9; }

.logo:hover img {
  opacity: 1; }

.header {
  height: 90px;
  margin: 0 0 96px; }

.header_nav {
  display: inline-block;
  float: right;
  margin: 30px 30px 0 0;
  list-style: none; }
  .header_nav .cta-meetup {
    padding: 10.5px 16px 8.5px;
    border: 2px solid #fff;
    margin-right: 10px; }

.header_nav li {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase; }

.header_nav li a {
  color: #fff;
  text-decoration: none; }
  .header_nav li a.active {
    border-bottom: 2px solid #fff; }

.header_nav li a:hover {
  border-bottom: 2px solid #fff; }

.event iframe {
  padding: 0 0 15px; }

.event__announcement {
  display: block;
  margin: 0 0 16px;
  font-size: 22px;
  line-height: 32px;
  font-weight: bold;
  color: #E1F1F1; }

.event__title {
  display: block;
  margin: 0 0 46px;
  font-size: 60px;
  line-height: 74px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase; }

.event__date {
  display: block;
  margin: 0 0 72px;
  margin: 0 0 30px;
  font-size: 36px;
  line-height: 46px;
  font-weight: bold;
  color: #E1F1F1; }

.event__btn-tickets a {
  display: inline-block;
  padding: 19px 28px 15px;
  margin: 0 0 30px;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  background: #fff;
  color: #398786;
  text-decoration: none; }

.event__btn-tickets a:hover {
  text-decoration: underline; }

.event__more {
  display: block; }

.event__more a {
  color: #E1F1F1;
  font-size: 14px;
  font-weight: normal;
  text-decoration: underline;
  opacity: .9; }

.event__more a:hover {
  opacity: 1; }

.photo-copyright {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 12px;
  font-weight: normal;
  color: #E1F1F1;
  text-decoration: none; }

.photo-copyright a {
  color: inherit;
  text-decoration: none; }

.photo-copyright a:hover {
  text-decoration: underline; }

.photo-copyright img {
  vertical-align: top;
  margin: 20 4px 0 0; }

/**
* $sponsors
**/
.sponsors {
  width: 100%;
  padding: 30px 0 0;
  height: 180px;
  text-align: center;
  background: #E1F1F1; }

.sponsors__title {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #99A5AB;
  text-transform: uppercase; }

/**
* $service
*/
.service {
  text-align: center;
  padding: 90px 120px 90px;
  background: #fff; }

.service__title {
  font-size: 36px;
  line-height: 46px;
  margin: 0 0 74px;
  text-transform: uppercase;
  color: #398786; }

.service__offer {
  display: inline-block;
  width: 320px;
  padding: 0 27px; }

.offer__title {
  font-size: 22px;
  color: #132F2F;
  margin: 0 0 38px; }

.offer__copy {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #132F2F;
  margin: 0 0 30px; }

.offer__btn {
  display: inline-block;
  font-size: 12px;
  color: #398786;
  padding: 17px 31px;
  border: 4px solid #398786;
  text-transform: uppercase;
  text-decoration: none; }

.offer__btn:hover {
  text-decoration: underline; }

/**
* $faq
**/
.faq {
  text-align: center;
  padding: 90px 120px 90px;
  background: #fff; }
  .faq h2.faq__title {
    font-size: 22px;
    color: #398786;
    margin: 0 0 54px;
    text-transform: uppercase; }
  .faq h3.faq__subtitle {
    max-width: 480px;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #132F2F;
    margin: 0 auto 30px auto;
    text-transform: uppercase;
    text-align: left; }
  .faq p.faq__copy {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #132F2F;
    margin: 0 0 30px;
    text-align: left;
    margin: 0 auto 40px auto;
    max-width: 480px; }

/**
* $imprint
**/
.imprint {
  text-align: center;
  padding: 90px 120px 90px;
  background: #fff; }
  .imprint h2.imprint__title {
    font-size: 22px;
    color: #398786;
    margin: 0 0 54px;
    text-transform: uppercase; }
  .imprint p.imprint__copy {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #132F2F;
    margin: 0 0 30px;
    text-align: left;
    margin: 0 auto 40px auto;
    max-width: 480px; }
    .imprint p.imprint__copy a {
      text-decoration: none;
      color: inherit; }
      .imprint p.imprint__copy a:hover {
        text-decoration: underline; }

/**
* $meetup
**/
.meetup {
  text-align: center;
  padding: 90px 120px 90px;
  background: #fff; }
  .meetup h2.meetup__title {
    font-size: 22px;
    color: #398786;
    margin: 0 0 54px;
    text-transform: uppercase; }
  .meetup p.meetup__desc {
    max-width: 480px;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #132F2F;
    margin: 0 auto 0 auto; }

/**
* $topics
**/
.topics {
  text-align: center;
  padding: 90px 120px 90px;
  background: #fff;
  background: #E1F1F1; }
  .topics h2.topics__title {
    font-size: 22px;
    color: #398786;
    margin: 0 0 54px;
    text-transform: uppercase; }
  .topics h3.topics__piece {
    max-width: 480px;
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    color: #fff;
    color: #132F2F;
    padding: 0 0 22px 0;
    margin: auto; }
    .topics h3.topics__piece span {
      font-size: 14px;
      text-transform: uppercase; }

/** 
* $speaker
**/
.speaker {
  text-align: center;
  padding: 90px 147px 90px;
  background: #fff; }
  .speaker img {
    margin: 0 0 15px; }
  .speaker h2.speaker__title {
    text-align: center;
    font-size: 22px;
    color: #398786;
    margin: 0 0 54px;
    text-transform: uppercase; }
  .speaker .speaker__guest {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 266px;
    margin: 0 94px 60px 0; }
    .speaker .speaker__guest.clear-margin {
      margin: 0 0 60px 0; }
    .speaker .speaker__guest .guest__title {
      font-size: 14px;
      line-height: 26px;
      font-weight: bold;
      text-transform: uppercase; }
      .speaker .speaker__guest .guest__title span {
        font-weight: normal;
        text-transform: normal; }

/**
* $agenda
**/
.agenda {
  text-align: center;
  padding: 90px 147px 90px;
  background: #fff;
  background: #E1F1F1; }
  .agenda h2.agenda__title {
    font-size: 22px;
    color: #398786;
    text-transform: uppercase;
    margin: 0 0 87px; }
  .agenda .agenda__item {
    text-align: left;
    position: relative;
    color: #132F2F;
    border-bottom: 2px solid #398786;
    border-bottom: 2px solid #132F2F;
    max-width: 520px;
    padding: 30px 0 0 0;
    margin: auto; }
    .agenda .agenda__item:last-of-type {
      border-bottom: none; }
    .agenda .agenda__item .item__title {
      float: left;
      font-size: 14px;
      line-height: 26px;
      font-weight: bold;
      text-transform: uppercase; }
    .agenda .agenda__item .item__time {
      text-align: right;
      float: right;
      font-size: 14px;
      line-height: 26px;
      font-weight: bold;
      text-transform: uppercase; }
    .agenda .agenda__item .item__desc {
      display: block;
      margin: 14px 0 31px 0;
      font-size: 14px;
      line-height: 26px;
      font-weight: normal;
      text-transform: uppercase; }
    .agenda .agenda__item .item__clear {
      display: block;
      clear: both; }

/**
* $media
**/
.media {
  text-align: center;
  padding: 90px 147px 90px;
  background: #fff; }
  .media h2.media__title {
    text-align: center;
    font-size: 22px;
    color: #398786;
    margin: 0 0 54px;
    text-transform: uppercase; }

/**
* $newsletter
**/
.newsletter {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 90px 0;
  text-align: center;
  background: url("/edtech-hamburg/assets/bg-newsletter.png");
  background-size: cover; }

.startups-form {
  margin: 45px 0 90px; }
  .startups-form h2 {
    margin: 15px 0 5px;
    font-size: 22px; }
  .startups-form .mc-field-group {
    margin: 15px 0; }
  .startups-form label {
    margin: 15px 0 5px;
    display: inline-block; }
  .startups-form input {
    height: 45px;
    width: 100%; }
  .startups-form select {
    width: 100%;
    height: 45px; }
  .startups-form #mc-embedded-subscribe {
    font-size: 16px;
    padding: 15px;
    margin: 15px 0 30px;
    background: #132F2F;
    color: #fff; }
  .startups-form .previous-issues a {
    display: block;
    text-align: center;
    color: #132F2F; }

.newsletter__title {
  font-size: 36px;
  line-height: 46px;
  margin: 0 0 6px;
  color: #fff;
  font-weight: bold; }

.newsletter__copy {
  font-size: 14px;
  line-height: 26px;
  color: #E1F1F1;
  margin: 0 0 18px; }

#mc_embed_signup_scroll {
  width: 520px;
  overflow: hidden;
  margin: auto; }

.newsletter input {
  float: left;
  height: 40px;
  width: 400px;
  font-size: 12px;
  text-indent: 15px; }

.newsletter .button {
  display: inline-block;
  text-indent: 0;
  text-transform: uppercase;
  background: #132F2F;
  width: 120px;
  height: 40px;
  padding: 13px 15px;
  color: #E1F1F1; }

/**
* $footer
**/
.footer {
  width: 100%;
  height: 470px;
  padding: 90px 0;
  background: #E1F1F1;
  overflow: hidden; }

.footer__columns {
  width: 470px;
  margin: auto; }

.footer__column {
  float: left;
  width: 210px;
  height: 290px;
  text-align: left;
  margin: 0 50px 0 0; }

.footer__column:last-of-type {
  margin: 0 0 0 0; }

.footer__column__title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #132F2F;
  margin: 0 0 16px; }

.footer__column__menu {
  list-style: none;
  font-size: 14px;
  font-weight: normal;
  line-height: 36px; }

.footer__column__menu a {
  text-decoration: none;
  color: #132F2F; }

/**
*   $mobile
**/

/*# sourceMappingURL=styles.css.map */
