@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$body: #1B1B1B;
$white: #fff;
$highlight: #251E50;
$main-font: 'Montserrat', Arial, sans-serif;

body {
	font-family: $main-font;
	color: $body;
	background: #ECECEC;
}

p {
	line-height: 1.5;
}

.banner {
	width: 100%;
	min-height: 60px;
	text-align: center;
	background: white;
	box-shadow: 0 2px 0 0 #07060F;

	p {
		margin: 0;
		font-size: 22px;
		font-weight: 400;
		line-height: 60px;

		a {
			color: $highlight;
		}
	}
}
.hero {
	width: 100%;
	min-height: 600px;
	text-align: center;
	background: #251E50; 
	background-image: url(../img/hero-background.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	box-shadow: inset 0 -2px 0 0 #07060F;



	.logo {
		margin: 130px 0 45px;
	}

	h1 {
		margin: 0 auto 30px;
		font-family: $main-font;
		font-weight: 700;
		font-size: 48px;
		line-height: 1;
		color: $white;
		text-transform: uppercase;
	}

	h2 {
		max-width: 700px;
		margin: 0 auto;
		padding: 0 0 72px;
		font-family: $main-font;
		font-weight: 700;
		font-size: 36px;
		line-height: 1.3;
		color: $white;
	}

	hr {
		margin: 0 auto 30px;
		max-width: 800px;
		height: 4px;
		background: $white;
	}
}
.section-entry {
	width: 100%;
	min-height: 630px;
	background: #ECECEC;
	padding: 30px 0 60px;

	.entry {
		max-width: 400px;
		margin: auto;
		background: #E0E0E0;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;

		.entry-header {
			min-height: 218px;
			position: relative;
			background: $white;
			border-top-left-radius: 6px;
    	border-top-right-radius: 6px;


			.header-logo {
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
				background: white;
				min-height: 200px;
				text-align: center;
				display: flex;
	  		align-items: center;
				justify-content: center;

				img {
					margin: auto;
				}
			}
			.header-player {
				position: position;
				min-height: 32px;
				bottom: 0;

				.audiojs {
					width: 100%;
					background: transparent;
					position: absolute;
					bottom: 0;
			    background-image: none;
			    -webkit-box-shadow: none;
			    -moz-box-shadow: none;
			    -o-box-shadow: none;
			    box-shadow: none;
					
					.scrubber {
						border-top: none;

						.loaded {
						}
					}
					.play-pause {
						border-right: none;
					}
				}

				.player-bubble {
					position: absolute;
					bottom: 0;
					left: -50px;
					width: 0;
					height: 0;
					border-bottom: 50px solid white;
					border-left: 50px solid transparent;
					box-shadow: 0 2px 0 0 #8F8F8F;
				}
			}
		}
		.entry-body {
				text-align: center;
				background: #E0E0E0;
				padding: 0 0 50px;
				box-shadow: 0 2px 0 0 #8F8F8F;

			a.website {
				margin: 15px auto 0;
				font-family: $main-font;
				font-weight: 700;
				color: $white;
				display: block;
				max-width: 360px;
				padding: 22px 0 19px;
				background:  #251E50;
				text-align: center;
				text-transform: uppercase;
				text-decoration: none;
				box-shadow: 0 2px 0 0 #07060F;

					&:hover {
					text-decoration: underline;
				}
			}
			a.social-media {
				display: block;
				margin: 15px auto 0;
				font-family: $main-font;
				font-weight: 400;
				color: #1B1B1B;
				max-width: 360px;
				padding: 22px 0 19px;
				background:  transparent;
				text-align: center;
				text-transform: uppercase;
				text-decoration: none;
				border: 1px solid #1B1B1B;

					&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

audio {
	width: 100%;
	background: white;
}

.about {
	background: $white;
	text-align: center;
	min-height: 600px;
	padding: 0 0 110px;

	h1 {
		margin: 75px 0 30px;
		font-family: $main-font;
		font-size: 54px;
		font-weight: 700px;
		color: #251E50;
		text-transform: uppercase;
	}

	p {
		margin: 0 auto 45px;
		max-width: 990px;
		text-align: left;
		color: #1B1B1B;
		font-weight: 400px;
	}

	a {
		margin: 15px auto 0;
		font-family: $main-font;
		font-weight: 700;
		color: $white;
		display: block;
		max-width: 360px;
		padding: 22px 0 19px;
		background:  #251E50;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		box-shadow: 0 2px 0 0 #07060F;

		&:hover {
			text-decoration: underline;
		}
	}
}

#footer {
	min-height: 180px;
	background: #ECECEC;
	text-align: center;
	padding: 15px 0 0;

	p {
		margin: 0;
		font-size: 16px;
		color: #1B1B1B;

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.mejs__container {
	max-width: 100%;
}

.mejs__controls {
	background: transparent !important;
}

.mejs__container {
	background: transparent !important;
}

.mejs__time {
	.mejs__currenttime,.mejs__duration, .mejs__time-current {
			color: #251E50;
	}
}
.mejs__time-total {
	.mejs__time-current {
		background: #251E50;
	}
	.mejs__time-loaded {
		background: rgba(37, 30,80,.5);
	}
}

.mejs__horizontal-volume-total {
	background: rgba(37, 30,80,.5) !important;

	.mejs__horizontal-volume-current {
		background: #251E50;
	}
}

