@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.frame {
  margin: 0 auto;
  max-width: 100%; }

.frame:after {
  content: "";
  display: table;
  clear: both; }

[class*=bit-] {
  float: left;
  padding: .3em; }

.bit-1 {
  width: 100%; }

.bit-2 {
  width: 50%; }

.bit-3 {
  width: 33.33333%; }

.bit-4 {
  width: 25%; }

.bit-5 {
  width: 20%; }

.bit-6 {
  width: 16.66667%; }

.bit-7 {
  width: 14.28571%; }

.bit-8 {
  width: 12.5%; }

.bit-9 {
  width: 11.11111%; }

.bit-10 {
  width: 10%; }

.bit-11 {
  width: 9.09091%; }

.bit-12 {
  width: 8.33333%; }

.bit-25 {
  width: 25%; }

.bit-40 {
  width: 40%; }

.bit-60 {
  width: 60%; }

.bit-75 {
  width: 75%; }

@media (max-width: 30em) {
  .bit-1, .bit-10, .bit-11, .bit-12, .bit-2, .bit-3, .bit-4, .bit-5, .bit-6, .bit-7, .bit-8, .bit-9 {
    width: 100%; } }
@media (min-width: 30em) and (max-width: 50em) {
  .bit-10, .bit-12, .bit-4, .bit-6, .bit-8 {
    width: 50%; }

  .bit-1, .bit-11, .bit-2, .bit-3, .bit-5, .bit-7, .bit-9 {
    width: 100%; } }
@media (min-width: 50em) and (max-width: 68.75em) {
  .bit-2, .bit-7 {
    width: 100%; }

  .bit-10, .bit-12, .bit-4, .bit-8 {
    width: 50%; } }
.box {
  background: #FCD920;
  font-family: Futura,sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 20px 0; }

.box--new {
  background: #87D37C; }

/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased; }

/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0; }

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

ul li,
ol li {
  line-height: 1.5rem; }

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0; }

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem; }

h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem; }

h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem; }

h3 {
  font-size: 1.414rem; }

h4 {
  font-size: 0.707rem; }

h5 {
  font-size: 0.4713333333333333rem; }

h6 {
  font-size: 0.3535rem; }

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse; }

table td,
table th {
  padding: 0;
  line-height: 33px; }

/* Code blocks */
code {
  vertical-align: bottom; }

/* Leading paragraph text */
.lead {
  font-size: 1.414rem; }

/* Hug the block above you */
.hug {
  margin-top: 0; }

body {
  font-family: "Montserrat", Arial, sans-serif;
  color: #1B1B1B;
  background: #ECECEC; }

p {
  line-height: 1.5; }

.banner {
  width: 100%;
  min-height: 60px;
  text-align: center;
  background: white;
  box-shadow: 0 2px 0 0 #07060F; }
  .banner p {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    line-height: 60px; }
    .banner p a {
      color: #251E50; }

.hero {
  width: 100%;
  min-height: 600px;
  text-align: center;
  background: #251E50;
  background-image: url(../img/hero-background.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  box-shadow: inset 0 -2px 0 0 #07060F; }
  .hero .logo {
    margin: 130px 0 45px; }
  .hero h1 {
    margin: 0 auto 30px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase; }
  .hero h2 {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 0 72px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    color: #fff; }
  .hero hr {
    margin: 0 auto 30px;
    max-width: 800px;
    height: 4px;
    background: #fff; }

.section-entry {
  width: 100%;
  min-height: 630px;
  background: #ECECEC;
  padding: 30px 0 60px; }
  .section-entry .entry {
    max-width: 400px;
    margin: auto;
    background: #E0E0E0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
    .section-entry .entry .entry-header {
      min-height: 218px;
      position: relative;
      background: #fff;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px; }
      .section-entry .entry .entry-header .header-logo {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background: white;
        min-height: 200px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center; }
        .section-entry .entry .entry-header .header-logo img {
          margin: auto; }
      .section-entry .entry .entry-header .header-player {
        position: position;
        min-height: 32px;
        bottom: 0; }
        .section-entry .entry .entry-header .header-player .audiojs {
          width: 100%;
          background: transparent;
          position: absolute;
          bottom: 0;
          background-image: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          -o-box-shadow: none;
          box-shadow: none; }
          .section-entry .entry .entry-header .header-player .audiojs .scrubber {
            border-top: none; }
          .section-entry .entry .entry-header .header-player .audiojs .play-pause {
            border-right: none; }
        .section-entry .entry .entry-header .header-player .player-bubble {
          position: absolute;
          bottom: 0;
          left: -50px;
          width: 0;
          height: 0;
          border-bottom: 50px solid white;
          border-left: 50px solid transparent;
          box-shadow: 0 2px 0 0 #8F8F8F; }
    .section-entry .entry .entry-body {
      text-align: center;
      background: #E0E0E0;
      padding: 0 0 50px;
      box-shadow: 0 2px 0 0 #8F8F8F; }
      .section-entry .entry .entry-body a.website {
        margin: 15px auto 0;
        font-family: "Montserrat", Arial, sans-serif;
        font-weight: 700;
        color: #fff;
        display: block;
        max-width: 360px;
        padding: 22px 0 19px;
        background: #251E50;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        box-shadow: 0 2px 0 0 #07060F; }
        .section-entry .entry .entry-body a.website:hover {
          text-decoration: underline; }
      .section-entry .entry .entry-body a.social-media {
        display: block;
        margin: 15px auto 0;
        font-family: "Montserrat", Arial, sans-serif;
        font-weight: 400;
        color: #1B1B1B;
        max-width: 360px;
        padding: 22px 0 19px;
        background: transparent;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid #1B1B1B; }
        .section-entry .entry .entry-body a.social-media:hover {
          text-decoration: underline; }

audio {
  width: 100%;
  background: white; }

.about {
  background: #fff;
  text-align: center;
  min-height: 600px;
  padding: 0 0 110px; }
  .about h1 {
    margin: 75px 0 30px;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 54px;
    font-weight: 700px;
    color: #251E50;
    text-transform: uppercase; }
  .about p {
    margin: 0 auto 45px;
    max-width: 990px;
    text-align: left;
    color: #1B1B1B;
    font-weight: 400px; }
  .about a {
    margin: 15px auto 0;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    display: block;
    max-width: 360px;
    padding: 22px 0 19px;
    background: #251E50;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 2px 0 0 #07060F; }
    .about a:hover {
      text-decoration: underline; }

#footer {
  min-height: 180px;
  background: #ECECEC;
  text-align: center;
  padding: 15px 0 0; }
  #footer p {
    margin: 0;
    font-size: 16px;
    color: #1B1B1B; }
    #footer p a {
      color: inherit;
      text-decoration: none; }
      #footer p a:hover {
        text-decoration: underline; }

.mejs__container {
  max-width: 100%; }

.mejs__controls {
  background: transparent !important; }

.mejs__container {
  background: transparent !important; }

.mejs__time .mejs__currenttime, .mejs__time .mejs__duration, .mejs__time .mejs__time-current {
  color: #251E50; }

.mejs__time-total .mejs__time-current {
  background: #251E50; }
.mejs__time-total .mejs__time-loaded {
  background: rgba(37, 30, 80, 0.5); }

.mejs__horizontal-volume-total {
  background: rgba(37, 30, 80, 0.5) !important; }
  .mejs__horizontal-volume-total .mejs__horizontal-volume-current {
    background: #251E50; }

/*# sourceMappingURL=styles.css.map */
